# =================================
# DATABASE
# =================================
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin1234
POSTGRES_DB=transcendence_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# =================================
# JWT
# =================================

JWT_ACCESS_SECRET=almeno32caratterialmeno32caratterialmeno32caratteri
JWT_REFRESH_SECRET=almeno32caratterialmeno32caratterialmeno32caratteri

# =================================
# TESTING
# =================================
NODE_ENV=development # development, production




NGROK_AUTHTOKEN=
NGROK_DOMAIN=

#ngrok http https://localhost:2443
