# Ignore local modules - they are for Windows, not for Docker!
node_modules/
**/node_modules/

# Ignore build artifacts
dist/
**/dist/

# Ignore OS files
.DS_Store
Thumbs.db

**/.git
**/.env
**/*.tgz

.git
.env

Dockerfile
.dockerignore
*.log