
JWT_EMAIL_SECRET=almeno32caratterialmeno32caratterialmeno32caratteri
JWT_PASSWORD_RESET_SECRET=almeno32caratterialmeno32caratterialmeno32caratteri

PUBLIC_URL=https://postmycotic-unknittable-sanda.ngrok-free.dev
EMAIL_USER=
EMAIL_PASS=

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

